.settings
.project

IOS/ClearCookiesANE/build/

ANDROID/bin/
ANDROID/build/

Binaries/iOS
Binaries/Android
Binaries/Default
/temp
/IOS/ClearCookiesANE/ClearCookiesANE.xcodeproj
/IOS/ClearCookiesANE/._ClearCookiesANE.xcodeproj
/IOS/ClearCookiesANE/ClearCookiesANE/._*
